.container {
    display: flex;
    align-items: center;
    background-color: #ff0000;
    margin: auto;
    width: fit-content;
    height: fit-content;
}
.box {

    display: flex;
    align-items: center;
    background-color: #4CAF50;
    color: white;
    font-size: 500px;
    margin: 60px;
}
h1{
    color: red;
}