.solido{
  border-style:solid;
  display: inline-block;
  margin:20px;
}
.discontinuo{
  border-style:dashed;
  display: inline-block;
  margin:20px;
}
.punteado{
  border-style:dotted;
  display: inline-block;
  margin:20px;
}
.doble{
  border-style:double;
  display: inline-block;
  margin:20px;
}